-# coding: utf-8
%html
  %head
    %title Примеры
    :css
      *                 { font-family: verdana }
      body              { display: table; margin: 0.6em auto }
      table             { border-collapse: collapse }
      table td          { border: solid 1px #ccc; font-size: 14pt; padding: 5px 10px }
      table td.primer   { text-align: center }
      table td.input    { padding: 2px 4px }
      table th          { padding-top: 1.2em; font-size: 11pt; font-weight: normal; color: gray; display:none }

      input             { font-size: 12pt; text-align: center; width: 6em }
      input.empty       { background-color: #ffc }
      input.wrong       { background-color: #f88 }
      input.correct     { background-color: #8f8 }

      div.password         { 
        display: table-cell; font-weight: bold; color: black;
        background-color: #8f8; border: solid 1px green;
        text-align:center; font-size: 20; padding: 10px
      }

    %script(src="/jquery-2.0.3.min.js")
    :javascript
      $(function(){
        $('input').first().focus()
        $('input').keyup(function(){
          check_input(this)
        })
      })

      function check_input(input){
        input = $(input)

        input.removeClass('empty wrong correct')
        var answer = input.val().replace(/ /g, '')
        if( answer.length == 0 ){
          input.addClass('empty')
          return
        }

        answer = parseInt(answer)

        var primer = $('td.primer', input.closest('tr')).text()
        primer = primer.replace(/:/g, "/")
        primer = primer.replace(/∙/g, "*")
        //console.log(eval(primer))
        if( eval(primer) == answer ){
          input.addClass('correct')
        } else {
          input.addClass('wrong')
        }

        if( $('.primer').length == $('.correct').length ){
          $('.password').show(100)
        } else {
          $('.password').hide(100)
        }
      }
  %body
    %table
      - @primers.each_with_index do |primer, idx|
        %tr
          %td(align='right')= idx+1
          %td.primer= primer.to_s.tr('/*',':∙')
          %td.input
            %input.empty
      %tr
        %th.password(colspan=3 align='center')
          пароль
          .password= @password
